


:root {
    --body: #ffffff;
    --pathan: #000;
    --themetext: #354764;
    --darkbg: #08162E;
    --darktheme: #08162E;
    --sectionbg: #F6F7FE;
    --banner: #08162E;
    --white: #FFFFFF;
    --base: #2196f3;
    --basetwo: #005C30;
    --basethree: #6B4A00;
    --danger: #ED5050;
    --themeneed: #A21111;
    --success: #2196f3;
    --worning: #EDCB50;
    --info: #3F7FCA;
    --quitborder: #DCD8FC;
    --quitcolor: #887AF8;
    --quitibg: #EDEBFD;
    --quitboxbg: #F6F5FE;
    --neutral: #1E1E1F;
    --bgsection: #F6F5FF;
    --sunborder: #CDC7FC;
    --text-base: #41E295;
    --whitebgdark: #ffffff;
    --countptext: #243757;
    --countright: #C2C7D0;
    --dots: #DFE2E6;
    --dotsave: #DFE2E6;
    --subborder: #ECEAFE;
    --box1: #ECEAFE;
    --box2: #E6EFEA;
    --box3: #D9D9D9;
    --fwork: #F5F4FE;
    --robit: #3021AB;
    --boxborder: #B3AAFA;
    --planbuttonborder: #96BCAA;
    --priceborder: #EBEDF0;
    --inborder: #C2B596;
    --footertext: #F5F6F7;
    --intellicon: #FFAF00;
    --inbox1: #DBD7FD;
    --inbox2: #B1F3D4;
    --inbox3: #FFDE96;
    --inbox4:  #F0EDE6;
    --coutbg1: #F4F3FE;
    --coutbg2: #F2F7F4;
    --coutbg3: #F2EAEA;
    --coutbg4: #F7F6F2;
    --coubor1: #D99D9D;
    --deeptheme: #B7AEFB;
    --pribox1: #F6F5FE;
    --pribox2: #F2F7F5;
    --pribox3: #FAF3F3;
    --pribox4: #F6E7E7;
    --priboxcolor4: #630A0A;
    --pricloud4: #E7C2C2;
    --priboxicon: #F6E7E7;
    --soc1: #F5F4FE;
    --soc2: #F2F7F4;
    --soc3: #F7F6F2;
    --soc4: #FAF3F3;
    --socbor1: #D2CDFC;
    --socbor2: #C2D8CD;
    --socbor3: #DBD3C2;
    --socbor4: #E8C6C6;
    --facebook: #452FF4;
    --instagram: #005C30;
    --twitter: #6B4900;
    --linkedin: #A21111;
    --thardbox1: #EDEBFD;
    --thardbox2: #F8F2E6;
    --thardbox3: #E8F2ED;
    --thardbox4: #F6E8E8;
    --tharbg1: #F6F5FE;
    --tharbg2: #FFFBF2;
    --tharbg3: #F2F7F5;
    --tharbg4: #FAF3F3;
    --tharbor1: #ECEAFE;
    --tharbor2: #FFF7E6;
    --tharbor3: #E6EFEA;
    --tharbor4: #F6E7E7;
    --casedifrent: #452FF4;
    --suppitems: #fff;
    --subborder: #ECEAFE;
    --accrborder: #F5F6F7;
    --businessbg: #F8F6F2;
    --busnesicon: #F0EDE6;
    --busnesborder: #C2B596;
}

//not allowed down code
